<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Product $product
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $product->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $product->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Products'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="products form large-9 medium-8 columns content">
    <?= $this->Form->create($product) ?>
    <fieldset>
        <legend><?= __('Edit Product') ?></legend>
        <?php
            echo $this->Form->control('product_name');
            echo $this->Form->control('item_name');
            echo $this->Form->control('item_number');
            echo $this->Form->control('color_name');
            echo $this->Form->control('single_item');
            echo $this->Form->control('bulk_item');
            echo $this->Form->control('single_franklin');
            echo $this->Form->control('bulk_franklin');
            echo $this->Form->control('per_item');
            echo $this->Form->control('bulk_count');
            echo $this->Form->control('item_type');
            echo $this->Form->control('franklin_type');
            echo $this->Form->control('size');
            echo $this->Form->control('currency');
            echo $this->Form->control('payment_type');
            echo $this->Form->control('offer');
            echo $this->Form->control('created_at', ['empty' => true]);
            echo $this->Form->control('updated_on', ['empty' => true]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
