<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Meeting $meeting
 */
?>
<!-- <nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Meeting'), ['action' => 'edit', $meeting->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Meeting'), ['action' => 'delete', $meeting->id], ['confirm' => __('Are you sure you want to delete # {0}?', $meeting->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Meetings'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Meeting'), ['action' => 'add']) ?> </li>
        <li><?= $this->Html->link(__('List Salesmen'), ['controller' => 'Salesmen', 'action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Salesman'), ['controller' => 'Salesmen', 'action' => 'add']) ?> </li>
    </ul>
</nav> -->
<div class="orders index large-9 medium-8 columns content card card card-default scrollspy">
    <div class="card-content">
        <div class="meetings view large-9 medium-8 columns content">
            <h3><?= h($meeting->title) ?></h3>
            <table class="vertical-table">
                <tr>
                    <th scope="row"><?= __('Email') ?></th>
                    <td><?= h($meeting->email) ?></td>
                </tr>
                <tr>
                    <th scope="row"><?= __('Salesman') ?></th>
                    <td><?= $meeting->has('salesman') ? $this->Html->link($meeting->salesman->name, ['controller' => 'Salesmen', 'action' => 'view', $meeting->salesman->id]) : '' ?></td>
                </tr>
                <tr>
                    <th scope="row"><?= __('Id') ?></th>
                    <td><?= $this->Number->format($meeting->id) ?></td>
                </tr>
                <tr>
                    <th scope="row"><?= __('Date Time') ?></th>
                    <td><?= h($meeting->date_time) ?></td>
                </tr>
                <tr>
                    <th scope="row"><?= __('Created') ?></th>
                    <td><?= h($meeting->created) ?></td>
                </tr>
                <tr>
                    <th scope="row"><?= __('Modified') ?></th>
                    <td><?= h($meeting->modified) ?></td>
                </tr>
            </table>
            <div class="row">
                <h4><?= __('Agenda') ?></h4>
                <?= $this->Text->autoParagraph(h($meeting->agenda)); ?>
            </div>
            <div class="row">
                <h4><?= __('Description') ?></h4>
                <?= $this->Text->autoParagraph(h($meeting->description)); ?>
            </div>
        </div>
    </div>
</div>