/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.card .input {
	width: 100%;
	max-width: 50%;
	display: inline-block;
	padding: 0 10px;
}

button[type="submit"] {
	background: #2c323f;
	border: none;
	padding: 10px 20px;
	margin-top: 15px;
	color: #fff;
}

label {
    font-size: 1rem;
    color: #9e9e9e;
}

.input.date .select-wrapper {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    max-width: 29%;
}

.input.datetime  .select-wrapper {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    max-width: 18%;
}
.input.date label {
    width: 100%;
    display: block;
}

.input.datetime label {
    width: 100%;
    display: block;
}
.bill-comment .input {
    padding: 25px 16px;
}
.bill tr th {
    color: #03a9f4;
}
::-webkit-scrollbar {
    display: none;
}
